* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  -webkit-transition: margin 0.5s; /* For Safari 3.1 to 6.0 */
  transition: margin 0.5s;
}

:focus {
  outline: none !important;
}

body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #fff;
  color: #000;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

.smallBody {
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

#topContent {
  background-color: #7241ff;
  background-image: url(assets/stars.svg), linear-gradient(135deg, #9A2FFC 0%, #7241ff 100%);
  color: #fff;
}

.shapeDivider {
  display: block;
  width: 100%;
  height: 340px;
  margin-top: -50px;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

header {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#particles-bg canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
}

.spacing {
  height: 150px;
  display:block;
}

#title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  float: left;
}

.colorAccent {
  color: #7241ff;
}

.backgroundcliptext .gradientTextPurple {
  background-color: #7241ff;
  background-image: -webkit-linear-gradient(to right, #9A2FFC, #7241ff); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(to right, #9A2FFC, #7241ff); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(to right, #9A2FFC, #7241ff); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(to right, #9A2FFC, #7241ff); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #9A2FFC, #7241ff); /* Standard syntax; must be last */
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}

.no-backgroundcliptext .gradientTextPurple {
  color: #7241ff;
}

#topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#topnav li {
  float: left;
  display: block;
  margin: 0 0 0 35px;
}

#topnav a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: ease-in-out 0.2s; /* Safari */
  transition: ease-in-out 0.2s;
  opacity: 1;
}

#topnav a:hover {
  opacity: 0.5;
}

#topnav #menu {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 1001;
}

.iconSpan {
  font-size: 1.4em;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bar1, .bar2, .bar3 {
    width: 23px;
    height: 2px;
    border-radius: 50px;
    background-color: #fff;
    margin: 2.5px 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.bar2 {
  width: 18px;
}

#menu.open .bar2 { opacity: 0; }

#menu.open .bar1 {
 transform: rotate(-45deg);
 transform: translateY(8px) translateY(-50%) rotate(-45deg);
}

#menu.open .bar3 {
 transform: rotate(45deg);
 transform: translateY(-8px) translateY(50%) rotate(45deg);
}

.menu-overlay {
  color: #fff;
  width: 100%;
  height: calc(100vh - (75px + 15px));
  /* If you need to support browser without CSS var support (<= IE11) */
  height: calc(100vh - var(--vh-offset, 0px) - (75px + 15px));
  /* enable vh fix */
  display: none;
}

.menu-overlay.open {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
}

#menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 75px 0;
}

#menu-footer {
  color: #fff;
  font-weight: 400;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0;
}

.menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: #fff;
  -webkit-transition: ease-in-out 0.2s; /* Safari */
  transition: ease-in-out 0.2s;
  opacity: 1;
}

.menu-link:hover {
  opacity: 0.5;
}

.menu-link-text {
  font-weight: 700;
  margin-left: 30px;
}

#menu-item1 { animation-delay: 0s; }
#menu-item2 { animation-delay: 0.1s; }
#menu-item3 { animation-delay: 0.2s; }

.activeLink {
  color: #018BFA !important;
}

#intro {
  line-height: 2.8em;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

#welcome {
  margin-top: 170px;
  max-width: 700px;
}

#hi {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

#myNameIs {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  animation-delay: 0.1s;
  letter-spacing: 1px;
}

#studying {
  margin-top: 40px;
  line-height: 1.8em;
  animation-delay: 0.2s;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

#project {
  height: 400px;
  display: flex;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 30px #efefef;
}

#flexprojects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
}

.projectIcon {
  display:block;
  color: #7241ff;
}

.card {
  height: 360px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 30px #f2f2f2;
  margin: 15px 0 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.projectTextBlock {
  padding: 0 10% 0 10%;
}

.projectInfo {
  margin: 30px 0 40px 0;
}

.project1image {
  background-image: linear-gradient(to bottom right, #D20B54, #FFB894);
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project1text {
  background-color: #fff;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.project2text {
  background-color: #fff;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.project2image {
  background-color: #FBDA61;
  background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link {
  background-color: #fff;
  color: #7241ff;
  text-decoration: none;
  font-size: 0.9em;
  padding: 8px 24px 8px 24px;
  border-radius: 20px 20px 20px 20px;
  border-color: #7241ff;
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  -webkit-transition: ease-in-out 0.2s; /* Safari */
  transition: ease-in-out 0.2s;
}

.link:hover {
  background-color: #7241ff;
  color: #fff;
}

.linkButton {
  background-color: #7241ff;
  color: #fff;
  text-decoration: none;
  font-size: 0.9em;
  padding: 8px 24px 8px 24px;
  border-radius: 20px 20px 20px 20px;
  border-color: #7241ff;
  border-style: solid;
  border-width: 1px;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.linkButton:hover {
  background-color: #fff;
  color: #7241ff;
}

footer {
  color: #999;
  font-weight: 400;
  font-size: 0.9em;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#img-eatabeat { height: 35%; }
#img-smarthome { max-height: 95%; }
#img-cetac { height: 15%; }


@media only screen and (max-width: 1000px) {
  .shapeDivider {
    height: 280px;
    margin-top: 0;
  }
  .card {
    font-size: 0.9em;
    height: 300px;
  }
  .projectTextBlock {
    padding: 30px 10% 40px 10%;
  }
  #footerSpacing {
    height: 50px;
  }
}

@media only screen and (max-width: 800px) {
  .shapeDivider {
    height: 220px;
  }
  .card {
    font-size: 0.8em;
    height: 280px;
  }
  .projectInfo {
    margin: 20px 0 25px 0;
  }
  #title {
    font-size: 1.3em;
  }
  #welcome {
    font-size: 0.9em;
  }
  #projectIntro {
    font-size: 0.9em;
  }
  .iconSpan {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 600px) {
  .shapeDivider {
    height: 160px;
  }
  .card {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 0.9em;
  }
  .projectTextBlock {
    padding: 30px 10% 40px 10%;
  }
  .projectInfo {
    margin: 20px 0 30px 0;
  }
  .project1image {
    width: 100%;
    height: 200px;
  }
  .project1text {
    width: 100%;
  }
  .project2image {
    order: 1;
    width: 100%;
    height: 200px;
  }
  .project2text {
    order: 2;
    width: 100%;
  }
  footer {
    flex-direction: column;
    margin-bottom: 20px;
    justify-content: center;
  }
  #footerBy { order: 1; margin-bottom: 8px; }
  #footerCopyright { order: 2; }
  #img-eatabeat { height: 60%; }
  #img-cetac { height: 25%; }
}

@media only screen and (max-width: 500px) {
  .shapeDivider {
    height: 130px;
  }
  .smallBody {
    width: 80%;
  }
  #topnav li {
    margin: 0 0 0 25px;
  }
  .card {
    font-size: 0.8em;
  }
  #projectIntro {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 400px) {
  #topContentBox {
    padding-top: 15px;
  }
  .shapeDivider {
    height: 100px;
  }
  #topnav li {
    display: none;
  }
  #topnav #menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  #welcome {
    margin-top: 140px;
  }
  .spacing {
    height: 100px;
  }
  #img-eatabeat { width: 35%; height: auto; }
  #img-cetac { width: 50%; height: auto; }
}
