@font-face {
  font-family: Noah;
  src: url(fonts/Noah-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: Noah;
  src: url(fonts/Noah-Bold.woff);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html, body, #root, #root>div {
  height: 100%
}

body {
  background-color: #fff;
  color: #454757;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 1px;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

.smallBody {
  position: relative;
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 40px;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

.Home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#header-logo {
  color: #000;
  font-size: 25px;
  font-family: 'Noah';
  font-weight: 700;
  letter-spacing: 0.3px;
}

#about-title-div {
  position: relative;
  line-height: 50px;
}

#about-title {
  color: #000;
  font-family: 'Noah';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2.5px;
  line-height: 48px;
}

#about-subtitle {
  font-weight: 600;
}

#about-desc {
  position: relative;
  max-width: 400px;
  color: #454757;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 35px;
  line-height: 32px;
  animation-delay: 0.2s;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

#links {
  margin-top: 80px;
}

.link {
  position: relative;
  color: #454757;
  float: left;
  margin-right: 40px;
  text-decoration: none;
  border: 0;
  border-style: solid;
  border-bottom-width: 1px;
  border-color: #C4C4C4;
  padding-bottom: 4px;
  transition: border-color 200ms ease-in-out;
}

.link:hover {
  border-color: #E16565;
  color: #000;
}

.home-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-grid {
  width: 40%;
}

.projects-grid {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.project-div {
  cursor: pointer;
  position: relative;
  background-color: #eee;
  width: 45%;
  height: 250px;
  border-radius: 10px;
  margin: 30px 0;
  -webkit-transition: width 0.5s, height 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s;
}

#project1 {
  background-color: #FFC858;
  display: flex;
}
