* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #311d3f;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.smallBody {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

.App {

}

.App-header {
  /*background-color: #2A1837;*/
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

#header-logo {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

ul {
  list-style: none;
}

li {
  float: right;
  margin-left: 40px;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  padding-bottom: 3px;
  transition: color 0.25s;
}

.header-link:hover {
  color: #e23e57;
  border-style: solid;
  border-color: #e23e57;
  border-width: 0 0 2px 0;
}

.header-link.active {
  color: #e23e57;
  border-style: solid;
  border-color: #e23e57;
  border-width: 0 0 2px 0;
}
