* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html, body, #root, #root>div {
  height: 100%
}

body {
  background-color: #1A1A1F;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.smallBody {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 25px;
  -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s;
}

.header {
  /*background-color: #2A1837;*/
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.Home {
  min-height: calc(100vh - (75px + 100px + 25px + 25px));
  display: flex;
  align-items: center;
}

.Projects {
  min-height: calc(100vh - (75px + 100px + 25px + 25px));
}

#header-logo {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

ul {
  list-style: none;
}

li {
  float: left;
  margin-left: 50px;
}

.header-link {
  text-decoration: none;
  letter-spacing: 1.9px;
  font-size: 14px;
  color: #454757;
  font-weight: 500;
  padding-bottom: 3px;
  transition: color 300ms;
}

.header-link:hover {
  color: #fff;
}

.header-link.active {
  color: #fff;
}

.header-menu {
  position: relative;
}

#menu-line {
  background-color: #E16565;
  position: absolute;
  top: 26px;
  width: 0;
  height: 2px;
  transition: all 300ms;
}

#intro {
  line-height: 50px;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

#welcome {
  text-align: center;
}

#hi {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 50px;
  margin-bottom: 15px;
}

#CSE {
  color: #E16565;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 600;
  animation-delay: 0.1s;
}

#studying {
  color: #F8D37B;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-top: 25px;
  line-height: 32px;
  animation-delay: 0.2s;
  -webkit-transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s; /* For Safari 3.1 to 6.0 */
  transition: width 0.5s, height 0.5s, margin 0.5s, font-size 0.5s;
}

.footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #454757;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.footer i {
  margin-left: 30px;
}
